# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myenv/
env/
venv/
ENV/
.venv/

# Environment variables
.env
.env.*

# User Uploads
app/static/uploads/

# Logs and debug files
*.log
*.bak
*.tmp
*.swp
debug.log

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Inside migrations
migrations/__pycache__/
migrations/*.pyc

# CA Certificate
ca.pem
