<form method="POST" class="auth-form">
  {{ register_form.hidden_tag() }}

  <div class="mb-3">
    {{ register_form.username.label(class="form-label") }}
    {{ register_form.username(class="form-control") }}
  </div>

  <div class="mb-3">
    {{ register_form.password.label(class="form-label") }}
    {{ register_form.password(class="form-control") }}
  </div>

  <div class="mb-3">
    {{ register_form.confirm_password.label(class="form-label") }}
    {{ register_form.confirm_password(class="form-control") }}
  </div>

  <div class="d-grid mb-3">
    {{ register_form.submit(class="btn btn-primary") }}
  </div>
</form>
