.content {
    background-color: #e1fffa;
    background-image: url("../images/contactus.png");
}

.contactus-body {
  max-height: 400px; 
  overflow-y: auto;
  padding-right: 10px;
}

.contactus-title {
  font-family: 'Comic Sans MS', cursive;
  font-size: 26px;
  color: #000000;
}

.contactus-topic-input {
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid #000000;
  background: transparent;
  font-size: 18px;
  font-family: 'Comic Sans MS', cursive;
  color: #000000;
  padding: 4px;
}

.contactus-topic-input:focus {
  outline: none;
  border-bottom: 2px solid #000000;
}

/* .contactus-diary-box {
  background: #e1fffa;
  background-image: url("../images/contactus.png");
  border: 2px solid #000000;
  border-radius: 12px;
  padding: 24px;
} */

.contactus-textarea {
  width: 100%;
  background: transparent;
  border: none;
  resize: none;
  font-family: 'Comic Sans MS', cursive;
  font-size: 18px;
  color: #000000;
  min-height: 300px;
  padding-top: 10px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.contactus-textarea:focus {
  outline: none;
}

.contactus-icon-btn {
  width: 40px;
  height: 40px;
  background-color: #dbdaff;
  border: 2px solid #000000;
  color: #000000;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
}

.contactus-icon-btn:hover {
  background-color: rgb(195, 178, 255);
}

.contactus-label {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 16px;
  color: #000000;
}

/* Contact Us - Message Field */
.message-box {
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
    background-color: #f3fffe;
    min-height: 10px;
}

.message-box {
    height: 150px;        /* vertical height */
    resize: none;         /* prevents user from resizing */
}

/* Submit Button */
.contact-btn {
    padding: 5px 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #c0bdff;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: rgb(166, 141, 255);
}