/* ========== Fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');

/* Content Area */
.content {
    background-color: #fff7e9;
    background-image: url("../images/journal.png");
}

.table {
    border: none;   
}

.table th,
.table td {
    background-color: #fff0d3;
}

.table th {
    background-color: #ffe2b1;
}

.table td a {
    color: #000;
}

/* Add New Button */
.journal-add-new-btn {
  width: 40px;
  height: 40px;
  background-color: #ffeed1;
  border: 2px solid #000000;
  color: #000000;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
}

.journal-add-new-btn:hover {
  background-color: #ffe1ad;
}

.journal-body {
  max-height: 380px; 
  overflow-y: auto;
  padding-right: 10px;
}

.journal-title {
  font-family: 'Comic Sans MS', cursive;
  font-size: 26px;
  color: #000000;
}

.journal-diary-box {
  background: transparent;
  border: none;
  margin-top: 5px;
  padding: 15px;
}

.journal-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Comic Sans MS', cursive;
  font-size: 20px;
  color: #000000;
  margin-bottom: 3px;
}

.journal-header-section {
  border-bottom: 2px solid #000000;
  padding-bottom:3px;
  margin-bottom: 5px;
}

.journal-topic-input {
  flex-grow: 1;
  border: none;
  border-bottom: 0px solid #000000;
  background: transparent;
  font-size: 21px;
  font-family: 'Comic Sans MS', cursive;
  color: #000000;
  padding: 5px;
}

.journal-topic-input:focus {
  outline: none;
  border-bottom: 1px solid #000000;
}

.journal-textarea {
  width: 100%;
  background: transparent;
  border: none;
  resize: none;
  font-family: 'Comic Sans MS', cursive;
  font-size: 18px;
  color: #000000;
  min-height: 300px;
  padding-top: 10px 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  outline: none;
}

.journal-textarea:focus {
  outline: none;
}

.journal-line {
  border: none;
  border-bottom: 1px solid #000000;
  margin-top: 10px;
}

.line {
  border: none;
  border-bottom: 1px solid #000000;
  margin-top:1px;
}

.journal-icon-btn {
  width: 40px;
  height: 40px;
  background-color: #ffeed1;
  border: 2px solid #000000;
  color: #000000;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
}

.journal-icon-btn:hover {
  background-color: #ffe1ad;
}

.journal-label {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 16px;
  color: #000000;
}
