.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    line-height: 40px;
    z-index: 1000;
    background-color: #9c7062;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    font-weight: 600;
}

.navbar-left {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.navbar-right {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline;
}
