/* ========== Fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');

/* Content Area */
.content {
    background-color: #faedfd;
    background-image: url("../images/quotes.png");
}

.table {
    border: none;     
}

.table th,
.table td {
    background-color: #f6d7ff;
}

.table th {
    background-color: #edb0ff;
}

.table td a {
    color: #000;
}

/* Add New Button */
.quotes-add-new-btn {
  width: 40px;
  height: 40px;
  background-color: #f1c9ff;
  border: 2px solid #000000;
  color: #000000;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
}

.quotes-add-new-btn:hover {
  background-color: #ebabff;
}

.quotes-body {
  max-height: 400px; 
  overflow-y: auto;
  padding-right: 10px;
}

.quotes-title {
  font-family: 'Comic Sans MS', cursive;
  font-size: 26px;
  color: #000000;
}

.quotes-diary-box {
  background: transparent;
  border: none;
  margin-top: 5px;
  padding: 15px;
}

.quotes-header-section {
  border-bottom: 2px solid #000000;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

.quotes-line {
  border: none;
  border-bottom: 1px solid #000000;
  margin-top: 10px;
}

.quotes-textarea {
  width: 100%;
  background: transparent;
  border: none;
  resize: none;
  font-family: 'Comic Sans MS', cursive;
  font-size: 18px;
  color: #000000;
  min-height: 300px;
  padding-top: 10px 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.quotes-textarea:focus {
  outline: none;
}

.line {
  border: none;
  border-bottom: 1px solid #000000;
  margin-top: 15px;
}

/* Back & Save buttons icons */
.quotes-icon-btn {
  width: 40px;
  height: 40px;
  background-color: #f1c9ff;
  border: 2px solid #000000;
  color: #000000;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
}

.quotes-icon-btn:hover {
  background-color: #ebabff;
}

.quotes-label {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 16px;
  color: #000000;
}
