.content {
    background-color: #ffffff;
}

/* Task Done */
.done {
    text-decoration: line-through;
    color: rgb(255, 0, 0);
}

/* Task List */
ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

.table {
    border: 2px solid #a7a7a7;     /* Outer border only */
}

.table th,
.table td {
    background-color: #ffeaea;
}

.table th {
    background-color: #ffd1d1;
}

.table td a {
    color: #000;
}

/* Add Button */
button {
    padding: 5px 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #ffbebe;
    cursor: pointer;
}

button:hover {
    background-color: #ff8181;
}
